*{
    font-family: 'Bai Jamguree' , sans-serif;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;

}

body header div img.logo-img{
    display: block;
    margin: auto;
    padding-block: 8rem 2rem;
}

body header{
    background-image:url(https://exiviuz.github.io/fem-clipboard-landing-page/images/bg-header-desktop.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

body div h1{
    color: #4c545d;
    font-size: clamp(1.5rem, 1.1546rem + 1.8421vw, 2.8125rem);
}

body div pre{
    color: #9fabb2;
    width: min(90%, 35rem);
    margin: auto;
}

body div.button{
    margin-top: 1.5rem;
    margin-right: 10px;
}

body div.button button.ios-button{
    background-color: #26baa4;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    letter-spacing: 1px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: white;
    border-bottom: 3px solid #156659;
    margin-right: 15px;
}

body div.button button.mac-button {
    background-color: #6173ff;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    letter-spacing: 1px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: white;
    border-bottom: 3px solid #001194;
    margin-right: 15px;

}

body main{
    padding-block: 6rem;
}

body section.section1{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 4.5rem;
    flex-direction: column;
}

body main h2{
    color: #4c545d;
    font-size: clamp(1.25rem, 0.9868rem + 1.4035vw, 2.25rem);
}

body main pre{
    color: #9fabb2;
    font-size: 18px;
}

body section.section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
    text-align: left;
}

body section.section2 img{
    max-width: 100%;
}

h3{
    margin-left: 120px;
    font-size: 22px;
    color: #4c545d;
}

body main section.section3{
    width: min(75rem, 90%);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body main section.section4 {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 10rem;
}

body main section div.divicon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    place-items: top;
    margin: 5rem;
    margin-bottom: 5rem;
    gap: 1px;
    margin-left: -135px;
}

body main section div section img.imgicon{
    margin-bottom: 1.5rem;
    height: 30px;
    margin-left: 100px;
}

body main section div section img.diviconee{
    flex-direction: column;
}

.imgicon2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
}

footer {
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.footer-logo {
    height: 60px;
}

.footer-nav {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
}

.footer-nav li a {
    color: #9fabb2;
    text-decoration: none;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    height: 24px;
}